<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="rps" verbose="1">
    <parameter name="paper" value="PAPER" />
    <parameter name="rock" value="ROCK" />
    <parameter name="scissor" value="SCISSOR" />

    <test name="testWinPlay">
        <classes>
            <class name="fr.p10.miage.rps.tests.RockPaperScissorTest">
                <methods>
                    <include name="testWinPlay"></include>

                    <include name="testTiePlay"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>